{# templates/emails/registration.html.twig #}
<h3>{% trans %}welcome{% endtrans %}</h3>

<p>{% trans %}bonjour{% endtrans %} {{ name }},</p>

{# example, assuming you have a route named "login" #}
<p>{% trans %}yourpassword{% endtrans %} {{ mdp }}.</p>

<p>{% trans %}mrteam{% endtrans %}</p>

<img src="https://i.ibb.co/CHLLwXJ/logo.png" alt="logo" border="0">